:host {
  height: 100%;
  display: block;
}

.list-container {
  height: 100%;
  display: block;
  overflow-y: scroll;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

ngx-skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hide-skeleton {
  display: none;
}